<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="form_fields">

        <input type="hidden" th:field="*{id}" id="id">

        <label for="name">Имя: </label>
        <input type="text" th:field="*{name}" id="name">
        <br><br/>
        <label for="age">Возраст: </label>
        <input type="number" max="127" min="1" th:field="*{age}" id="age">
        <br><br/>
        <label for="city">Город: </label>
        <input type="text" th:field="*{city}" id="city">
        <br><br/>
        <label for="phone">Телефон: </label>
        <input type="text" th:field="*{phone}" id="phone">
        <br><br/>
        <input type="submit" value="Сохранить">
</div>
</body>