<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<div align="center">
    <h2>Список пользователей</h2>
    <h3><a href="/new_user">Добавить пользователя</a> </h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getCity()}"></td>
            <td th:text="${user.getPhone()}"></td>
            <td>
                <form th:method="GET" th:action="@{/edit_user}">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" value="Изменить"/>
                </form>
                <form th:method="DELETE" th:action="@{/delete?id={id}(id=${user.getId()})}">
                    <input type="submit" value="Удалить"/>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>