<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
    <div align="center">
        <div th:switch="${flag}">
            <div th:case="new">
                <h2>Новый пользователь</h2>
                <form th:method="POST" th:action="@{/user_save}" th:object="${user}" >
                    <div th:replace="/includes/form_fragment"></div>
                </form>
            </div>
            <div th:case="edit">
                <h2>Редактировать пользователя</h2>
                <form th:method="PATCH" th:action="@{/update_user}" th:object="${user}" >
                    <div th:replace="/includes/form_fragment"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>